# Compiled Object files
**.slo
**.lo
**.o
**.obj

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.user
**.vcxproj.filters
# Complement to resource files
**.aps

# get tf outta here "Visual Studio Code"
**.vscode

# Make
**/Makefile

# Build Binaries
bin/
bin-int/
