# Compiled Object files
**.slo
**.lo
**.o
**.obj

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.user
**.vcxproj.filters
**.aps

# Visual Studio Code files
**.vscode

# Build Binaries
build
build.old
/kai/kai
/tests/*
!/tests/*.*
